---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Gallery from "../components/Gallery.astro";
---

<BaseLayout>
  <Hero />
  <Services />
  <Gallery />

  <section id="ubicacion" class="section">
    <div class="container">
      <h2>Ubicación</h2>
      <p style="margin-top: 10px;">(La construiremos en la Parte 7)</p>
    </div>
  </section>
</BaseLayout>